<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<a class="fancybox" rel="group" href="1_s.jpg"><img src="1_b.jpg" alt="" /></a>
<a class="fancybox" rel="group" href="2_s.jpg"><img src="2_b.jpg" alt="" /></a>
